@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <title>RsvpForm</title>
</head>
<body>
    @using (Html.BeginForm())
    {
    //return any validation messages after form has been submitted
    @Html.ValidationSummary()
    <div>
        <p>Your Name: @Html.TextBoxFor(x => x.Name)</p>
        <p>Your Email: @Html.TextBoxFor(x => x.Email)</p>
        <p>Your Phone: @Html.TextBoxFor(x => x.Phone)</p>
        <p>Are you going? @Html.DropDownListFor(x => x.WillAttend, new[]
{
           new SelectListItem() {Text="Yes I'll be there", Value=bool.TrueString},
           new SelectListItem() {Text="No I can't make it", Value=bool.FalseString }
           }, "Choose Option")
        </p>
        <input type="submit" value="Submit" />
    </div>
    }
</body>
</html>
